---
---

<section class="backdrop">
  <div class="back">
    <div class="back1">
      <img class="img_backdrop" id="mobil_bag" src="Billeder/bag8.png" alt="" />
      <h1 class="h1_index">Copenhagen <br /> Sakura Festival <br /> 2023</h1>
    </div>
  </div>

  <div class="back0">
    <div class="back2">
      <img class="img_backdrop2" id="mobil_bag1" src="Billeder/mobil_bag.png" alt="" />
      <h1 class="h1_index2">Copenhagen <br /> Sakura <br> Festival <br /> 2023</h1>
    </div>
  </div>
</section>


<style>

    
  .img_backdrop {
    width: 100%;
  }

  .img_backdrop2 {
    display: none;
  }

  .back {
    place-self: center;
    padding-top: 0px;
    width: 100%;
  }

  .back0 {
    place-self: center;
    padding-top: 0px;
    width: 100%;
  }
  .back1 {
    display: grid;
    place-items: center;
    overflow: hidden;
   
  }
  .back2 {
    display: grid;
    place-items: center;
    overflow: hidden;
   
  }

  .img_backdrop,
  .img_backdrop2 .h1_index,
  .h1_index2 {
    grid-area: 1 / 1;
  }
  .h1_index {
    color: #41694c;
    font-family: "Quicksand", sans-serif;
    text-align: left;
    font-size: 90px;
    padding-left: 5%;
    padding-top: 2%;
    grid-area: 1 / 1;
  }

  .h1_index2 {
    display: none;
  }

  @media (max-width: 600px) {
    #mobil_bag {
      display: none;
    }

    .img_backdrop {
      display: none;
    }

    .img_backdrop2 {
      width: 100%;
    
     
    }

    .back {
      place-self: center;
      padding-top: 0px;
      width: 100%;
    }
    .back2 {
      display: grid;
      place-items: center;
      padding-bottom: 10%;
      
      
      
    }

    .img_backdrop,
    .img_backdrop2 .h1_index,
    .h1_index2 {
      grid-area: 1 / 1;
    }

    .h1_index {
      color: #41694c;
      font-family: "Quicksand", sans-serif;
      text-align: left;
      font-size: 65px;
      padding-inline: 100%;
      padding-top: 20%;
      padding-bottom: 30%;
      grid-area: 1 / 1;
    }
  }

  
</style>
