<section class="kategori">
  <div class="grid_">
   
 <img src="Billeder/sushi.png" alt="" />
 <div>
    <form>
     <label for="dropdown"></label>
      <select id="dropdown">
        <option value="">Restaurants</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </form>
</div>
  </div>
  <div class="grid_">
   
 <img src="Billeder/coffee.png" alt="" />
 <div>
    <form>
     <label for="dropdown"></label>
      <select id="dropdown">
        <option value="">Food & Drinks</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </form>
</div>
  </div><div class="grid_">
   
 <img src="Billeder/shop.png" alt="" />
 <div>
    <form>
     <label for="dropdown"></label>
      <select id="dropdown">
        <option value="">Shops</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </form>
</div>
  </div><div class="grid_">
   
 <img src="Billeder/stage.png" alt="" />
 <div>
    <form>
     <label for="dropdown"></label>
      <select id="dropdown">
        <option value="">Aktivities</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </form>
</div>
  </div>
  
</section>

<style>
  img{100%}
  .grid_ {
   display: grid;
   grid-template-columns: 1fr 4fr;
   max-width: 20rem;
 margin-left: auto;
 margin-right: auto;

   margin-bottom: 1rem;
 
 

   
  }
  select {
  padding-top: 1rem;
padding-left: 3rem;
padding-right: 3rem;
padding-bottom: 1rem;
margin-top: 1.5rem;
width: 12rem;

    font-size: 16px;
    border: none;
  background-color: #156B4C;
  margin-left: 3rem



  }

  option {
    padding: 10px;
    font-size: 16px;
    color: white;
  }
  .kategori{margin-top: 2rem;}
  img{width: 100%;
  min-width: 2rem;}


</style>
