
<div>
<button><a href="/program1">Tilbage til oversigt</a></button>
</div>



<style>

button {
    border: none;
    border-radius: 5%;
    padding: 15px;
    width: 40%;
    background-color: #156b4c;
    display: flex;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: white;
    font-family: "Quicksand";
    font-size: 15px;
}
div {
    display: flex;
    justify-content: right;
    padding-right: 65px;
}

a:hover {
   color: #d3726b;
}
</style>