---

---

<section class="grid_opacity">
    <div class="container">
      <img src="Billeder/image11.jpeg" alt="Avatar" class="image" style="width: 100%" />
      <div class="middle">
        <div class="text"><a class="txt1" href="program.astro">Program</a></div>
      </div>
    </div>
    <div class="container">
      <img src="Billeder/image10.jpeg" alt="Avatar" class="image" style="width: 100%" />
      <div class="middle">
        <div class="text"><a class="txt1" href="about.astro">About Us</a></div>
      </div>
    </div>
    <div id="cafe-container" class="container">
      <img src="Billeder/image9.jpeg" alt="Avatar" class="image" style="width: 100%" />
      <div class="middle">
        <div class="text"><a class="txt1" href="booths.astro">Booths</a></div>
      </div>
    </div>
  </section>


  <style>
   /* ----------------------opacity bokse--------------------- */
  .container {
    position: relative;
    width: 100%;
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
    
  }
  
  .text {
    background-color: var(--text-green);
    color: var(--text-white);
    font-size: 16px;
    padding: 16px 62px;
    white-space: nowrap;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5%;
  }
  
  .grid_opacity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 20px;
    margin-inline: 14em;
    margin-top: 5em;
    margin-bottom: 5em;

   
    
  }

  .txt1 {
    text-decoration: none;
    font-weight: 700;
    color: var(--text-white)
  }
  
  .txt1:hover {
    color: var(--header-footer-color);
  }
  @media (max-width: 600px) {
    .grid_opacity {
      display: grid;
      grid-template-columns: 1fr ;
      
  
    }
  
    
  }

  </style>


<!-- slet mig -->