---
const { name, time, time_stop } = Astro.props;
import "../styles/main.css";
---

<a href="link">
  <article>
    <div class="grid_link">
      <h2>{name}</h2>
      <div class="time">
        <p>{time}</p>
        <span> - </span>
        <p>{time_stop}</p>
      </div>
    </div>
  </article>
</a>

<style>
  a {
    text-decoration: none;
  }

  p {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
  }

  h2 {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    
  
    
  }

  div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 30px;
    
    
  }

  .time {
    justify-self: end;
    
    
  }

  span {
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
  }
</style>
