---


---

<section class="timer">
    <h2 class="h2_timer">Days Until:</h2>
  <span id="days"></span>
  <h2 id="end"></h2>
</section>


<script>
var countDownDate = new Date("april 22, 2023 00:00:00").getTime();

var myfunc = setInterval(function() {
  // code goes here
  }, 1000)

  var now = new Date().getTime();
var timeleft = countDownDate - now;
  
var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);


document.querySelector("#days").innerHTML = days.toString();

if (timeleft < 0) {
  clearInterval(myfunc);
  document.getElementById("days").innerHTML = ""
  document.getElementById("end").innerHTML = "Times Up!";
}
</script>

<style>
    .timer {
    display: grid;
    justify-content: center;
  }

  .h2_timer {
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
  }

  #days {
    /* display: inline-block; */
    justify-self: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    
  
  }
</style>





