---
---

<center>
  <div class="grid_video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/vZGJPqfaOEA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</center>

<style>
  iframe {
    display: flex;
    justify-items: center;
    width: 1100px;
    height: 500px;
  }

  .grid_video {
    padding-bottom: 70px;
  }

  @media (max-width: 600px) {
    iframe {
      display: grid;
      justify-content: center;
      width: 80%;
      height: auto;
      margin-inline: 50px;
      aspect-ratio: 16 / 9;
    }
  }
</style>
