
:root {
    /* Farver */
    --background-color: #F8ECEC;
    --text-green: #156B4C;
    --header-footer-color: #D3726B;
    --box-index-color: #FFDDDD;
    --text-pink: #A14343;  
    --text-white: #fff;
    --text-black: #000;

  
}

.body_landingpage {
color: var(--background-color);
}