---
import Kategori from "../komponenter/Kategori.astro";
import Navigation1 from "../komponenter/Navigation1.astro";
import "../styles/main.css";
import Footer from "../komponenter/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Merriweather&family=Nunito+Sans:wght@200;400&family=Oswald&family=Prosto+One&family=Quicksand:wght@300&family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <title>Booths</title>
  </head>
  <body>
    <header>
      <Navigation1 />
    </header>
    <main>
      <div class="side1">
        <div>
          <a class="SS" href="index"
            ><img src="Billeder/storlogo.png" alt="logo" /></a
          >
          <h1>Sakura Festival</h1>
          <h3>
            Choose from our selection of restaurants, cafes, and shops, and
            receive assistance with navigation.
          </h3>
        </div>
        <div>
          <Kategori />
        </div>
      </div>
      <img class="map" src="Billeder/map.png" alt="" />
    </main>
    <Footer />
  </body>
  <style>
    main {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 5rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }
    h3 {
      max-width: 22rem;
      margin-left: auto;
      margin-right: auto;
      font-family: "Quicksand", sans-serif;
    }
    .map {
      width: 100%;
      padding-bottom: 50px;
      max-width: 50rem;
    }
    h1 {
      text-align: center;
      margin-bottom: 2rem;
      font-family: "Quicksand", sans-serif;
    }

    a img {
      margin-top: 2rem;

      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 32%;
      padding-bottom: 40px;
    }

    body {
      background-color: #f8ecec;
      height: 100vh;
    }
    .side1 {
      width: 100%;
    }
    @media (max-width: 900px) {
      main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 35px;
      }
    }

    img {
      width: 100%;
    }
  </style>
</html>
