---
import Opacity from "../komponenter/Opacity.astro";
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles/main.css">
    <title>Document</title>
</head>
<body style="background-color: var(--background-color);">
    <main class="landingpage_main">
        <Opacity></Opacity>
    </main>
</body>
</html>


